/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
.DS_Store
.venv/
venv/
.rasa/
__pycache__/
lumichat-backend/rasa-bot/models/
*.tar.gz
/vendor/
/node_modules/
/.env
/storage/*.key
/bootstrap/cache/
/storage/logs/
/storage/framework/*
